ENVIRONMENT=development
LOG_LEVEL=info

DISCORD_TOKEN=your_discord_bot_token
DISCORD_GUILD_ID=
PROTECTED_USER=hellomimiz
DON_RAT_OWNER_NAME=Don Rat

MONGO_URI=mongodb://mongo:27017/?replicaSet=rs0
MONGO_DATABASE=donrat
MONGO_CONNECT_TIMEOUT_SECONDS=10

CASINO_DEFAULT_BALANCE=1000
CASINO_RANDOM_SEED=42
